$font-size-list: (('display-4', 96px),
  ('display-3', 60px),
  ('display-2', 48px),
  ('display-1', 34px),
  ('headline', 24px),
  ('title', 20px),
  ('subtitle-1', 16px),
  ('subtitle-2', 14px),
  ('body-1', 16px),
  ('body-2', 14px),
  ('caption', 12px),
  ('overline', 10px),
);

$font-weight-list: (('thin', 100),
  ('bold', 700),
  ('medium', 500));

$font-weight-list: (('thin', 100),
  ('bold', 700),
  ('medium', 500));
